{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Type 2 diabetes: NHS to offer 800-calorie diet treatment</a></h5>
        <p class="card-text"><small><a href="#">UPVOTE</a> | 731 points by <a href="#">vcrmartinez</a> | <a href="#">web</a> | <a href="#">241 comments</a></small></p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Type 2 diabetes: NHS to offer 800-calorie diet treatment</a></h5>
        <p class="card-text"><small><a href="#">UPVOTE</a> | 731 points by <a href="#">vcrmartinez</a> | <a href="#">web</a> | <a href="#">241 comments</a></small></p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Type 2 diabetes: NHS to offer 800-calorie diet treatment</a></h5>
        <p class="card-text"><small><a href="#">UPVOTE</a> | 731 points by <a href="#">vcrmartinez</a> | <a href="#">web</a> | <a href="#">241 comments</a></small></p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Type 2 diabetes: NHS to offer 800-calorie diet treatment</a></h5>
        <p class="card-text"><small><a href="#">UPVOTE</a> | 731 points by <a href="#">vcrmartinez</a> | <a href="#">web</a> | <a href="#">241 comments</a></small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
